.main{
  flex: 1;
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
  margin-top: 5rem;
}

.post{
  width: 500px;
  margin-bottom: 25px;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
  padding: 12px;
}
.post img{
  width: 100%;

}
.post h1{
  font-size: 1.2rem;
  cursor:pointer;
  text-align: center;

}
.post p{
 
  color:rgb(79, 79, 79)
}
.pagination{
  width: 100%;
  display: flex;
  justify-content: center;
}
.pagination div{
  margin: 25px;
}

.pagination .active{
  cursor: pointer;
}
.pagination .disabled{
  cursor: not-allowed;
  color: rgb(179,179,179);
}

.search{
  margin-top: 1rem;
}
.search input{
  width: 25%;
}

.spinner{
  display: flex;
  justify-content: center;
  align-items: center;
}

@media screen and (max-width: 1068px){
  .search input{
    width: 50%;
  }
}
@media screen and (max-width: 568px){
  .search input{
    width: 100%;
  }
}
